body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  @apply text-body;
  --toggle-width: 3rem;
--toggle-height: 1.25rem;
--toggle-border: 0.125rem;
--toggle-font-size: 0.75rem;
}


.theme-light {
  background-color: #f8f8f8;
  color: #333;
}
.theme-light body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #333;
  @apply text-body;
}

.theme-light a.selengkapnya {
  display:inline-block;
  padding:.2rem .6rem;
  background:#f2f2f2;
  border-radius:4px;
  color:#5a5a5a;
  font-size:1rem;
  font-weight:500
}


.theme-dark {
  background-color: #313131;
  color: #f8f8f8;
}

.theme-dark body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #f8f8f8; 
  @apply text-body;
}


.theme-dark .navbar__link {
  color: #f8f8f8;
}

.theme-dark p {
  color: #ada7a7;
}

.theme-dark a {
  color: #a3ccf3;
}

.theme-dark a.selengkapnya {
  display:inline-block;
  padding:.2rem .6rem;
  background:#706e6f;
  border-radius:4px;
  color:#aeaaaa;
  font-size:1rem;
  font-weight:500
}


a {
  @apply text-subheading transition duration-200 ease-out;
}
a:hover {
  @apply text-gray-600;
}
a.router-link-exact-active {
  @apply text-subheading;
}
button {
  cursor: pointer;
}
.container {
  max-width: 65ch !important;
  @apply px-3;
}
.prose hr {
  width: 100px;
  border-color: #7d7d7d4d;
  @apply my-8;
}
.content {
  padding: 1.25rem 0;
}
.content h1 {
  margin-bottom: 2.5rem;
}
p {
  @apply tracking-wide leading-8;
}

.responsive {
  width: 100%;
  height: auto;
}
