html,body, #__nuxt, #__layout{
  height:100%!important;
  width: 100%!important;
<<<<<<< HEAD
  scroll-behavior: smooth;
=======
>>>>>>> 3b7afdc61e65700ccdbc4543d1136839831e03f6
}

#app {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  @apply text-body dark:text-gray-100 dark:bg-zinc-900;
}
h1,h2,h3,h4 {
  @apply text-heading dark:text-white;
  font-family: "Lexend", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a {
  --at-apply: dark:text-gray-400 dark:hover:text-gray-100 hover:text-heading text-subheading transition duration-200 ease-out;
}
a.router-link-exact-active {
  --at-apply: text-subheading;
}
button {
  cursor: pointer;
}

a.selengkapnya {
  display:inline-block;
  padding:.2rem .6rem;
  background:#dce0de;
  border-radius:4px;
  color:#aeaaaa;
  font-size:1rem;
  font-weight:500
}

.container {
  max-width: 65ch !important;
  @apply px-3;
}
.prose hr {
  width: 100px;
  border-color: #7d7d7d4d; 
  @apply my-8;
}
.content {
  padding: 1.25rem 0;
}
.content h1 {
  margin-bottom: 2.5rem;
}
p {
  @apply tracking-wide leading-8;
  @apply text-heading dark:text-white;
}

.responsive {
  width: 100%;
  height: auto;
}

.gotopbtn{
  
  position: fixed;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: #0078D7;
  bottom: 40px;
  right: 25px;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: rgb(235, 12, 12);
  font-size: 22px;
}

.switch{
  
  position: fixed;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: #b60a54;
  bottom: 100px;
  right: 25px;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: rgb(235, 12, 12);
  font-size: 22px;
}



.navbar__menu  {
  @apply bg-white dark:bg-zinc-900;
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */

}

